code/test_images
tests/__pycache__/*
.coverage
smartFME_Reciever/__pycache__/*
smartFME_Reciever/test_images/*
smartFME_Reciever/localkey.py
cov.xml
.tox/*
.vscode
dist/smartFME_Reciever-0.1.0-py3-none-any.whl
dist/smartFME-Reciever-0.1.0.tar.gz
