code/test_images
tests/__pycache__/*
.coverage
smartFME_Reciever/__pycache__/__init__.cpython-39.pyc
smartFME_Reciever/__pycache__/camera.cpython-39.pyc
smartFME_Reciever/__pycache__/cloud.cpython-39.pyc
smartFME_Reciever/__pycache__/FME.cpython-39.pyc
smartFME_Reciever/__pycache__/FMEListener.cpython-39.pyc
smartFME_Reciever/__pycache__/init.cpython-39.pyc
smartFME_Reciever/__pycache__/key.cpython-39.pyc
smartFME_Reciever/__pycache__/payload.cpython-39.pyc
smartFME_Reciever/__pycache__/preProcess.cpython-39.pyc
smartFME_Reciever/__pycache__/smartFME_Monitor.cpython-39.pyc
smartFME_Reciever/__pycache__/tesseract.cpython-39.pyc
smartFME_Reciever/test_images/20220529_151016.jpg
smartFME_Reciever/test_images/20220529_151017.jpg
smartFME_Reciever/test_images/20220529_151019.jpg
smartFME_Reciever/test_images/20220529_151021.jpg
smartFME_Reciever/key.py
